.flex{
    display: flex;
}
.jcb{
    display: flex;
    justify-content: space-between
}
.aic{
    align-items: center;
}
.jca{
    display: flex;
    justify-content: space-around;
}
.jce{
    display: flex;
    justify-content: space-evenly;
}
.flex-wr{
    flex-wrap: wrap;
    justify-content: center;
}
.col-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-fs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.col-jcsb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}