@mixin font-os($size, $weight, $lh){
    font-family: 'Open Sans', sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
}
@mixin font-ssp($size, $weight) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $weight;
    font-size: $size;
}