@import './bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.smart {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 35px;
  text-decoration: none;
  color: #494949;
  border: 3.54px solid #706b73;
  padding: 6px 16px;
  border-radius: 2px;
}

.nav {
  color: #706b73;
  font-size: 34px;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 46px;
  color: #333;
  text-align: center;
}

header {
  background: #f5f5f5;
}
header .navbar {
  padding-top: 83px;
}
header .title {
  padding-top: 145px;
  color: #626262;
}
header .card-body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  background: #fff;
  padding: 0 36px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  header .card-body {
    display: none;
  }
}
header .card-body span {
  color: #ec6444;
  font-weight: 600;
}
header .card-body .card-title {
  padding-top: 26px;
  padding-bottom: 50px;
}
header .card-body .form-control {
  border: none;
  border-radius: 0;
  padding-left: 0;
}
header .card-body .message-input {
  padding-bottom: 66px;
}
header .card-body a {
  color: #fff;
  background: #fe5c36;
  padding: 19px 57px;
}
header .card-body a i {
  width: 17px;
  height: 10px;
  color: #ffffff;
}

.second-section {
  padding-top: 144px;
  padding-bottom: 156px;
}
.second-section .card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  padding-bottom: 23px;
}

.first-card {
  background: #4bacee;
  width: 18rem;
  margin: 0 auto;
  position: relative;
}

.second-card {
  background: #c049f8;
  width: 18rem;
  margin: 0 auto;
}

.third-card {
  background: #817eff;
  width: 18rem;
  margin: 0 auto;
}

.forth-card {
  background: #f74770;
  width: 18rem;
  margin: 0 auto;
}

.mb-10 {
  margin-bottom: 10px;
}

.card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 35px;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.btn-card {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  background-color: #fff;
  position: relative;
  color: #000;
  padding: 22px 61px;
  text-align: center;
  text-decoration: none;
}
.btn-card i {
  font-size: 23px;
  vertical-align: middle;
}
.btn-card.btn-card:hover {
  box-shadow: 1px 3px 7px 0px black;
  color: #000;
  border-color: #fff;
  background: #fff;
}

.card-img-top {
  width: 51px;
  padding-top: 53px;
  text-align: center;
  margin: 0 auto;
}

.content-section {
  padding-top: 25px;
  max-width: 755px;
  text-align: center;
  color: #5f5f5f;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 110px;
}

.third-section {
  padding-top: 129px;
  padding-bottom: 149px;
}
.third-section .content-section {
  padding-top: 11px;
  padding-bottom: 112px;
}

.inner {
  height: 359px;
  margin-bottom: 22px;
}

.forth {
  padding-bottom: 177px;
}
.forth h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
}
.forth .forth-content-section {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  max-width: 504px;
}
.forth .forth-content-section:nth-child(2) {
  padding-top: 18px;
}
.forth .forth-content-section:nth-child(3) {
  padding-top: 19px;
  padding-bottom: 12px;
}
.forth .forth-content-section:nth-child(4) {
  padding-bottom: 24px;
}
.forth .underline {
  padding-bottom: 9px;
  border-bottom: 3px solid #ff5c36;
}
@media screen and (max-width: 576px) {
  .forth img, .forth .block {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .forth .row {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .forth .btn-card {
    margin-bottom: 1%;
    display: block;
    width: 100%;
  }
}

.block {
  width: 105px;
  height: 93px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 8px 0;
}
.block img {
  width: auto;
}

.fifth {
  padding-top: 142px;
  padding-bottom: 153px;
}
.fifth .content-section {
  padding-top: 10px;
  padding-bottom: 126px;
}
.fifth .flip-card {
  height: 446px;
}
.fifth .front-side {
  height: 100%;
}
.fifth .front-side .front-side-inner {
  background: #fff;
  width: 263px;
}
.fifth .team-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  line-height: normal;
}
.fifth .team-job {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 48px;
  line-height: normal;
}
.fifth .back-side {
  height: 446px;
  background: #fff3f0;
  width: 100%;
  transform: rotateY(180deg);
  padding-top: 152px;
  padding-bottom: 18px;
}
.fifth .flip-card-wrap:hover {
  transform: rotateY(180deg);
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
}
.fifth .front-side, .fifth .back-side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.fifth .back-side-inner .skill-block-content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 1px;
}
.fifth .back-side-inner .icon-media {
  width: auto;
}
.fifth .back-side-inner .icon-media:nth-child(2) {
  margin: 0 15px;
}
.fifth .back-side-inner .team-job {
  color: #ff724c;
  line-height: normal;
  margin-bottom: 15px;
}
.fifth .back-side-inner .team-title {
  padding-top: 71px;
  margin-bottom: 0;
  line-height: normal;
}

.carousel-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  max-width: 437px;
  padding-top: 49px;
}

.sixth {
  padding-top: 137px;
  padding-bottom: 143px;
}
.sixth .name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 38px;
}
.sixth .italic {
  font-style: italic;
  font-weight: 400;
}
.sixth .avatar i {
  font-size: 100px;
}
.sixth .carousel-indicators {
  bottom: -53px;
}
.sixth .carousel-indicators [data-bs-target] {
  background-color: #e0e0e0;
  width: 19px;
  height: 7px;
  border-radius: 50%;
}
.sixth .carousel-indicators [data-bs-target].active {
  background-color: #ff6e47;
}
.sixth .carousel-control-next, .sixth .carousel-control-prev {
  background-color: #fff;
  color: black;
  font-size: 50px;
}
.sixth .carousel-control-next i, .sixth .carousel-control-prev i {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 8px 0px black;
}
.sixth .carousel-control-next i:active, .sixth .carousel-control-prev i:active {
  background-color: #ff6e47;
  color: #fff;
}

.pre-footer {
  padding-top: 78px;
  padding-bottom: 95px;
}

footer {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}
footer .social-links {
  padding-top: 70px;
}
footer .btn-footer {
  padding: 20px 80px;
}
@media screen and (max-width: 992px) {
  footer .btn-footer {
    margin-bottom: 1%;
    display: block;
    width: 100%;
  }
}
footer i {
  font-size: 20px;
  padding: 17px 21px;
  border-radius: 50%;
  color: #fff;
  background-color: #d3d3d3;
}
footer i:hover {
  background-color: #ff6e47;
}
footer .credits {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: normal;
  color: #040404;
}

.grey {
  color: #414141;
}

.orange {
  color: #fc6744;
}

.bg-orange {
  background: #ff5c36;
}

.light-orange {
  color: #fa9179;
}

.bg-light-grey {
  background: #fbfbfb;
}/*# sourceMappingURL=index.css.map */